<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chef.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.chef.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,username,password
    </sql>
    <select id="selectRolesByUserId" resultType="java.lang.String">
        select r.roleName
        from  tb_user_role ur
        left join tb_role r on r.id=ur.role_id
        left join tb_user u on u.id=ur.user_id
        where u.id = #{userId}
        </select>

</mapper>
